/*ヘッダー部分*/
.header_main {
  margin-bottom: 0;
  padding-bottom: 0;
  position: sticky;
  top: 0;
  background-color: white;
  height: 100px;
  z-index: 100;
}

.header_btn_group {
  display: flex;
}

.home_logo_img {
  height: 100px;
  width: auto;
}

.login_btn {
  font-size: 1rem;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #ffad48;
  border-radius: 1rem;
  border: 2px solid #ffad48;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.6rem;
  white-space: nowrap;
}

.login_btn:hover {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

.header_main .dropdown_login_btn {
  background-color: #ffad48;
  color: white;
  padding: 0.3rem 1rem;
  margin-right: 0.6rem;
  border: 2px solid #ffad48;
}

.header_main .dropdown_login_btn:focus {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

.header_main .dropdown_login_btn:hover {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

.header_main .dropdown_login_btn:active {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

.header_main .dropdown_item_link {
  color: #666;
  text-decoration: none;
}

.header_main .dropdown_item_disabled {
  pointer-events: none;
  color: #ccc;
}
