.notice_message, .alert_message {
  color: white;
  background-color: #ffad48;
  padding-left: 5rem;
  margin: 0;
}

.home_main {
  margin: 0;
  padding-top: 0;
  color: #5e5e5e;
  background-color: #ffe8d421;
}

/* ランダム検索部分 */
.home_random {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.home_random_content {
  flex: 1;
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
}

.home_random::after {
  content: "";
  flex: 1;
  background-image: image-url('random_search.jpeg');
  background-size: cover;
  background-position: center;
}

.home_random_title {
  margin: 3rem 2rem;
  padding-bottom: 0.2rem;
  border-bottom: solid 3px #ffad48;
  font-size: 1.5rem;
  font-weight: 550;
}

.home_random_text {
  margin: 4rem;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 50%;
}

.home_random_text:hover {
  transform: scale(1.05);
}

.home_random_btn {
  background-color: #ffad48;
  border-radius: 1rem;
  border: 2px solid white;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.home_random_btn:hover {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
  transform: scale(1.05);
}

/* 材料検索部分 */
.home_condition {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.home_condition_content {
  flex: 1;
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
}

.home_condition::before {
  content: "";
  flex: 1;
  background-image: image-url('conditional_search.jpeg');
  background-size: cover;
  background-position: center;
}

.home_condition_title {
  margin: 3rem 2rem;
  padding-bottom:0.2rem;
  border-bottom: solid 3px #ffad48;
  font-size: 1.5rem;
  font-weight: 550;
}

.home_condition_text {
  margin: 4rem;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 50%;
}

.home_condition_text:hover {
  transform: scale(1.05);
}

.home_condition_group {
  display: flex;
  align-items: center;
  margin: 0.5rem 3rem;
}

.home_condition_tag {
  flex: 0 0 100px;
  margin-right: 1rem;
}

.home_condition_form {
  flex: 1 1 auto;
  margin-left: 1rem;
  border-radius: 1rem;
  color: #666;
  padding: 0.5rem 1rem;
}

.home_condition_btn {
  background-color: #ffad48;
  border-radius: 1rem;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}

.home_condition_btn:hover {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

/* ジャンル検索部分*/

.home_search {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.home_search_content {
  flex: 1;
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
}

.home_search::after {
  content: "";
  flex: 1;
  background-image: image-url('search.jpeg');
  background-size: cover;
  background-position: center;
}

.home_search_title {
  margin: 3rem 2rem;
  padding-bottom:0.2rem;
  border-bottom: solid 3px #ffad48;
  font-size: 1.5rem;
  font-weight: 550;
}

.home_search_text {
  margin: 4rem;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 50%;
}

.home_search_text:hover {
  transform: scale(1.05);
}

.home_under {
  background: linear-gradient(transparent 80%, #ff5656a1 70%);
}

.home_search_form {
  width:50%;
  color: #666;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.home_search_btn {
  background-color: #ffad48;
  border-radius: 1rem;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
}

.home_search_btn:hover {
  background-color: white;
  color: #ffad48;
  border: 2px solid #ffad48;
}

.home_section_image {
  display: none;
}

.mobile_br {
  display: none;
}

/* レスポンシブ対応(スマホ向け) */
@media (max-width: 500px) {
  .home_random, .home_condition, .home_search {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home_random_content, .home_condition_content, .home_search_content {
    width: 100%;
    margin-bottom: 2rem;
  }

  .home_random_title, .home_condition_title, .home_search_title {
    font-size: 1.2rem;
    margin: 1rem;
    overflow: visible;
    text-overflow: clip;
  }

  .home_random_text, .home_condition_text, .home_search_text {
    margin: 1rem;
    font-size: 0.8rem;

  }

  .home_condition_group {
    margin: 0.5rem 1rem;
  }

  .home_condition_tag {
    font-size: 0.9rem;
  }

  .home_condition_form {
    flex: 1 1 auto;
    margin-left: 1rem;
    border-radius: 0.7rem;
    color: #666;
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
  }

  .home_random_btn, .home_condition_btn, .home_search_btn {
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    margin-top: 1rem;
  }

  .home_search_form {
    font-size: 0.8rem;
  }

  .home_section_image {
    display: block;
    width: auto;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
  }

  .mobile_br {
    display: inline;
  }
}

/* レスポンシブ対応(タブレット向け) */
@media (min-width: 501px) and (max-width: 960px) {
  .home_random, .home_condition, .home_search {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home_random_content, .home_condition_content, .home_search_content {
    width: 100%;
    margin-bottom: 2rem;
  }

  .home_section_image {
    display: block;
    width: auto;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
  }

  .mobile_br {
    display: inline;
  }
}
