<div class="footer_main">
  <p class="footer_text">このウェブサイトでは、ユーザーの皆様により良いサービスを提供するために、<br>
  楽天レシピカテゴリー別ランキングAPIを使用しています。提供されるレシピ情報の詳細については、<br>
  <%= link_to '楽天レシピ公式サイト', 'https://recipe.rakuten.co.jp/' %>をご覧ください。</p>
</div>
